<footer class="page-footer green green-text text-darken-3">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5>Entre em contato para saber mais:</h5>
        <a class="green-text text-darken-3" href=""><i class="material-icons">chat_bubble_outline</i> +55 61 999498135</a> <a class="green-text text-darken-3" href=""><i class="material-icons">email</i> nelsongborges@gmail.com</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container green-text text-lighten-5">
    ® 2017 Direitos Reservados para fitpark.
    </div>
  </div>
</footer>